body {
    background-color: burlywood;
}

h1 {
    color: lightslategray;
    text-align: center;
    border-bottom: 10px;
}

h2 {
    color: lightslategray;
    text-align: center;
}

select {
    color: darkgreen;
    text-align: center;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 40%);
    background-color: chocolate; background-position: center;
}

button {
    color: darkgreen;
    text-align: center;
    border-radius: 10px;
    border-color: rgba(0, 0, 0, 40%);
    background-color: chocolate; background-position: center;
}
.DiceDropBoxMenus {
    text-align: center;
    justify-content: center;
    border-color: rgba(0, 0, 0, 0%);
    border-radius: 10px;
}
#roll-history {
    color: darkblue;
}