body {
    color: grey;
}

h1 {
    color: chocolate; text-align: center;
}

h2 {
    color: chocolate; text-align: center;
}

select {
    color: chocolate; float: center; text-align: center; 
    border: 5px; border-radius: 2px; border-color: crimson;
}