body {
    color: grey;
}

h1 {
    color: chocolate; text-align: center;
}

h2 {
    color: chocolate; text-align: center;
}

select {
    color: chocolate; float: center; text-align: center; 
    border: 50px; border-radius: 10px; border-color: crimson;
}